.carousel{
    width:100%;
    height:100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.carousel-block{
    width:310px;
    height:480px;
    margin: 0 1rem;
    overflow: hidden;
}
.carousel-slider{
    height:100%;
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    transition: transform 1s ease;
}
.item{
    width:270px;
    height:430px;
    margin:0 20px;
    padding-top:30px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    background-color: #ffffff;
}
.photo{
    width:230px;
    height:310px;
    display: flex;
    align-items: center;
    background-color: rgb(182, 178, 178);
    border-radius: 2px;
    img{
        max-width: 230px;
    }
}

.discription{
    max-width: 230px;
    margin-top:20px;
}
.select{
    width: 230px;
    margin-top:20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.yes,
.no{
    width:50px;
    height:50px;
    margin:0 1rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    border-radius: 50%;
    color:rgb(253, 253, 253);
    cursor: pointer;
    &:hover{
        opacity: 0.8;
    }
}
.yes{
    background-color: rgb(86, 196, 86);
}
.no{
    background-color: rgb(231, 91, 91);
}
.fa-spinner{
    font-size: 32px;
}
.fa-angle-left,
.fa-angle-right{
    font-size: 32px;
}
.fa-angle-left:hover,
.fa-angle-right:hover{
    opacity: 0.2;
}